body{
  margin: 0;
}


.video-back{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  


}
.section-video{

  position: fixed;
  z-index: -1;
  

}
@media (min-aspect-ratio: 16/9){
  .section-video{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  .section-video{
    width: auto;
    height: 100%;
  }
}

.item {

  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  background-size: cover;
  transition: .6s;
  
}
.photos{
  width: 100%;
  z-index: 1;
  position: absolute;
}

.item1 {
  height: 40px;
  background-image: url('https://cdn.pixabay.com/photo/2017/10/25/03/40/musical-background-2886886_960_720.jpg');
}

.item2 {
  height: 300px;
  background-image: url('https://cdn.pixabay.com/photo/2017/01/11/10/25/headsets-1971383_960_720.jpg');
  background-position: center;
}

.itemChange{
  height: 300px;
  background-image: url('https://cdn.pixabay.com/photo/2017/01/11/10/25/headsets-1971383_960_720.jpg');
  background-position: center;
  }
  .itemChange2{
    height: 300px;
  background-image: url('https://cdn.pixabay.com/photo/2017/10/25/03/40/musical-background-2886886_960_720.jpg');
  }

.hide {
  height: 250px;
}

/* .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
} */

section {
  /* position: fixed; */
  display: flex;
  /* justify-content: center; */
  margin-top: 50px;
  z-index: 3;
}

button {
margin: 0 auto;
  padding: 10px 30px;
  /* background: none; */
  border: 2px solid #00cfff;
  border-radius: 5px;
  color: #00cfff;
  font-size: 36px;
  cursor: pointer;
  transition: color .3s, box-shadow .3s;
  box-shadow: 3px 3px 10px #00cfff
}

button:hover {
  color: #00ffae;
  box-shadow: 3px 3px 10px #00ffae;
}

.fas {
  transition: transform .6s;
}
.hideText {
transition: transform .6s;
opacity: 0%;
}
h1{
  font-family: 'Kaushan Script', cursive;
font-family: 'Merienda', cursive;
  margin-left: 40%;
  text-align: center;
  top: 15%;
  position: absolute;
  z-index: 2;
  font-size: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black
}